nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

body,
h1 {
    color: white;
    font-size: 40px;
    position: relative;
}

.menublock {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 500px;
    width: 100px;
}

#bars {
    font-size: 25px;
    position: relative;
    left: 60px;
}

.list {
    display: none;
    position: absolute;
    top: 0px;
    font-size: 20px;
    line-height: 140px;
    background-color: black;
    height: 500px;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    position: relative;
    right: 30px;
}

li {
    position: relative;
    bottom: 35px;
}

#cart {
    position: relative;
    font-size: 20px;
    left: 285px;
    top: 17px;


}

.ufo {
    position: absolute;
    width: 100px;
    left: -15px;


}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    width: 100%;
    height: 500px;

}

.tshirt1 {
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

button {
    position: relative;
    bottom: 100px;
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 10px;
    height: 50px;
}